@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>
    This application is maintained by Matthew McNees.
</p>

<p>
    <strong>LinkedIn:</strong> &nbsp; <a href="https://www.linkedin.com/in/matthewmcnees/">https://www.linkedin.com/in/matthewmcnees/</a>
</p>
