<hr />
<footer class="container" >
    <div style="text-align:center;">
        <div style="float:left;"><p>&copy; @DateTime.Now.Year - Matthew McNees</p></div>
        <div style="float:right;"><p><a href="~/Home/Cookies">Cookie Policy</a></p></div>
    </div>
</footer>
