<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 - Not Found</title>
</head>
<body>
    <hgroup>
        <h1>404 - Not Found</h1>
        <h2>Oops, this page doesn't exist.</h2>
    </hgroup>
</body>
</html>